//transition styling
* {
    transition-property: filter, max-height, width;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

}

body {
    background-color: $themeWhite;
}

ul,
li,
a,
input {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

fieldset {
    border: none;
    padding: 0;
}

button {
    border: none;
    font-size: 4rem;
    background-color: $themeYellow;
    padding: 10px 30px;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: $headerFont;
    margin: 10px 0;

    &:hover,
    :focus {
        cursor: pointer;
        filter: brightness(1.25);
    }
}