//class to hide stuff
.hidden {
    display: none;
}

//accordion classes
.accordion-button {
    display: block;
    width: 100%;
    padding: 12px;

    text-transform: none;
    background-color: $themeYellow;

    &:hover {
        cursor: pointer;
    }
}

.categoryContainer {
    width: 75%;
    margin: 24px 0;
}

.accordion-container {
    overflow: hidden;
    max-height: 300px;

    background-color: $solidWhite;

    @include flexRow;
    justify-content: center;
    align-items: flex-start;
}

.checkboxContainer {
    flex-basis: 45%;
    padding: 12px 0;
}

// Bars for each score
.full-bar {
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border-radius: 50px;
}

.percentage-bar {
    // width: 50%; //will be dynamic
    height: 4rem;
    // background-color: #04AA6D; //will be dynamic
    border-radius: 50px;
    z-index: 10;
}