//class to hide stuff
.hidden {
    display: none;
}

//accordion classes
.accordion-button {
    display: block;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.accordion-container {
    overflow: hidden;
    max-height: none;
}