//class to hide stuff
.hidden {
    display: none;
}

//accordion classes
.accordion-button {
    display: block;
    width: 100%;
    padding: 12px;

    text-transform: none;
    background-color: $themeYellow;

    &:hover {
        cursor: pointer;
    }
}

.categoryContainer {
    width: 75%;
    margin: 24px 0;
}

.accordion-container {
    overflow: hidden;
    max-height: 1000vh;

    background-color: $solidWhite;

    @include flexRow;
    justify-content: center;
    align-items: flex-start;
}

.checkboxContainer {
    flex-basis: 45%;
    padding: 12px 0;
}

// Bars for each score
.full-bar {
    width: 100%;
    height: 25px;
    background-color: #ddd;
    border-radius: 50px;
}

.percentage-bar {
    height: 25px;
    border-radius: 50px;
    z-index: 10;
}

// Saved City Cards
.savedCitiesSections {
    @include flexCol;
    align-items: center;
    margin-bottom: 100px;

    h2 {
        margin-bottom: 24px;
    }

    ul {
        @include flexRow;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 90%;
    }

    li {
        position: relative;
        height: 200px; 
        width: 320px;
        margin: 0;

        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @include flexCol;
        justify-content: center;
        align-items: center;
    }

    button {
        position: absolute;
        top: 5px;
        right: 5px;

        padding: 0;
        margin: 0;

        width: 42px;
        height: 42px;
        font-size: 1.8rem;
    }

    p {
        text-align: center;
        &.savedCity {
            font-size: 1.4rem;
            font-weight: bold;
        }
        &.savedContinent,
        &.savedScore {
            font-size: 1.2rem;
        }
    }
}