main {
    .results {
        margin-bottom: 24px;

        @include flexCol;
        justify-content: center;
        align-items: center;

        ul {
            width: 85%;
        }

        & > h3 {
            color: $themeBlue;
        }
    }  

    img {
        margin: 24px;
    }

    li {
        margin: 12px 0;
    }
}




