// Mixins start with @mixin; call mixins with @include mixinName(argumentValue)
@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}