html {
    font-size: 125%;
    color: $themeBlack;
}

h1, h2, h3, h4 {
    font-family: $headerFont;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

h1 {
    // font-size: 6.4rem;
    font-size: clamp(2.125rem, calc(12px + 2.750vw), 2.875rem);
    text-align: left;
}

h2 {
    font-size: clamp(1.750rem, calc(12px + 2.000vw), 2.250rem);
}

h3 {
    font-size: clamp(1.425rem, calc(12px + 1.500vw), 1.875rem);
}

h4 {
    font-size: clamp(1.250rem, calc(12px + 1.000vw), 1.500rem);
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: $themeGreen;
}

.score {
    font-family: $bodyFont;
}

p, 
label,
select {
    font-family: $bodyFont;
    font-size: clamp(1.150rem, calc(12px + 0.600vw), 1.250rem);
    margin: 0;
}
