html {
    font-size: 62.5%;
    color: $themeBlack;
}

h1, h2, h3, h4 {
    font-family: $headerFont;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 6.4rem;
    text-align: left;
}

h2 {
    font-size: 4.0rem;
}

h3 {
    font-size: 3.8rem;
}

h4 {
    font-size: 3.2rem;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: $themeGreen;
}

.score {
    font-family: $bodyFont;
}

p, 
label,
select {
    font-family: $bodyFont;
    font-size: 2.4rem;
    margin: 0;
}
