//typography
$headerFont: 'Montserrat', sans-serif; //800 black
$bodyFont: 'Hind', sans-serif; //400 reg, 600 semibold

//colors
$themeBlack: #1A1A1A;
$themeBlue: #2989F7;
$themeGreen: #20A36F;
$themeYellow: #FCBA43;
$themeWhite: #FBFAFA;
$themeGray: #ddd;
